---
import EntryButton from './EntryButton.astro';
---
<section class="flow-section">
  <div class="container">
    <h2 class="section-title">選考の流れ</h2>
    <div class="flow-steps">
      <div class="flow-step">
        <div class="flow-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66" fill="none">
            <path d="M58.6057 7.39377C58.087 6.87539 57.4395 6.50467 56.7298 6.31978C56.0202 6.13489 55.2741 6.14252 54.5684 6.3419H54.5297L5.04518 21.3569C4.24182 21.5884 3.52778 22.0586 2.99768 22.7051C2.46758 23.3516 2.14644 24.1439 2.07683 24.9771C2.00721 25.8102 2.1924 26.6449 2.60786 27.3704C3.02332 28.0959 3.64943 28.6781 4.40323 29.0397L26.2967 39.7028L36.9443 61.5834C37.2755 62.2901 37.802 62.8873 38.4617 63.3044C39.1214 63.7215 39.8867 63.9411 40.6671 63.9372C40.7857 63.9372 40.9043 63.9321 41.0229 63.9217C41.8554 63.8543 42.6473 63.5339 43.2925 63.0035C43.9377 62.4731 44.4052 61.758 44.6323 60.9543L59.637 11.4698C59.637 11.4569 59.637 11.444 59.637 11.4311C59.8389 10.7272 59.8499 9.98219 59.6686 9.27265C59.4874 8.56311 59.1205 7.91461 58.6057 7.39377ZM40.6903 59.7735L40.6774 59.8096V59.7916L30.3495 38.5736L42.7245 26.1986C43.0949 25.8087 43.2984 25.2894 43.2915 24.7516C43.2846 24.2138 43.0679 23.6999 42.6876 23.3196C42.3073 22.9393 41.7934 22.7226 41.2556 22.7157C40.7178 22.7088 40.1986 22.9123 39.8086 23.2828L27.4336 35.6578L6.20791 25.3298H6.18987H6.22596L55.6873 10.3122L40.6903 59.7735Z" fill="#343330"/>
          </svg>
        </div>
        <div class="flow-content">
          <h3 class="flow-heading">エントリー</h3>
          <p class="flow-caption">入職をご検討・ご希望される方は、下記に記載しております<br />採用LINEアカウントを友達追加し、ご連絡をお願いします。<br />詳細をお送りいたします。</p>
        </div>
      </div>

      <div class="flow-step">
        <div class="flow-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66" fill="none">
            <path d="M51.5625 8.24963H42.2142C41.0553 6.95212 39.6355 5.91399 38.0476 5.20321C36.4598 4.49242 34.7397 4.125 33 4.125C31.2603 4.125 29.5402 4.49242 27.9524 5.20321C26.3645 5.91399 24.9447 6.95212 23.7858 8.24963H14.4375C13.3435 8.24963 12.2943 8.68422 11.5207 9.45781C10.7471 10.2314 10.3125 11.2806 10.3125 12.3746V55.6871C10.3125 56.7811 10.7471 57.8304 11.5207 58.6039C12.2943 59.3775 13.3435 59.8121 14.4375 59.8121H51.5625C52.6565 59.8121 53.7057 59.3775 54.4793 58.6039C55.2529 57.8304 55.6875 56.7811 55.6875 55.6871V12.3746C55.6875 11.2806 55.2529 10.2314 54.4793 9.45781C53.7057 8.68422 52.6565 8.24963 51.5625 8.24963ZM33 8.24963C35.188 8.24963 37.2865 9.11882 38.8336 10.666C40.3808 12.2132 41.25 14.3116 41.25 16.4996H24.75C24.75 14.3116 25.6192 12.2132 27.1664 10.666C28.7135 9.11882 30.812 8.24963 33 8.24963ZM51.5625 55.6871H14.4375V12.3746H21.334C20.8648 13.6993 20.625 15.0943 20.625 16.4996V18.5621C20.625 19.1091 20.8423 19.6337 21.2291 20.0205C21.6159 20.4073 22.1405 20.6246 22.6875 20.6246H43.3125C43.8595 20.6246 44.3841 20.4073 44.7709 20.0205C45.1577 19.6337 45.375 19.1091 45.375 18.5621V16.4996C45.375 15.0943 45.1352 13.6993 44.666 12.3746H51.5625V55.6871Z" fill="#343330"/>
          </svg>
        </div>
        <div class="flow-content">
          <h3 class="flow-heading">書類選考</h3>
          <p class="flow-caption">エントリー内容、各書類をもとに、一次選考（書類選考）を行います。<br />選考通過者にのみ、面接の日程調整のご連絡をいたします。<br />なお、応募書類は返却いたしませんので、予めご了承ください。</p>
        </div>
      </div>

      <div class="flow-step">
        <div class="flow-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66" fill="none">
            <path d="M30.2283 40.7142C32.9926 38.8739 35.0912 36.1929 36.214 33.0676C37.3367 29.9423 37.4238 26.5387 36.4625 23.36C35.5012 20.1814 33.5425 17.3965 30.876 15.4172C28.2095 13.4378 24.9769 12.3691 21.656 12.3691C18.3352 12.3691 15.1026 13.4378 12.4361 15.4172C9.7696 17.3965 7.81089 20.1814 6.84959 23.36C5.88829 26.5387 5.97543 29.9423 7.09814 33.0676C8.22085 36.1929 10.3195 38.8739 13.0838 40.7142C8.08348 42.5571 3.81311 45.9674 0.90987 50.4363C0.757286 50.6631 0.651301 50.9179 0.598075 51.186C0.54485 51.4541 0.545445 51.7301 0.599828 51.998C0.654211 52.2659 0.761296 52.5202 0.914858 52.7464C1.06842 52.9725 1.2654 53.1658 1.49434 53.3152C1.72328 53.4645 1.97962 53.5668 2.24845 53.6162C2.51729 53.6656 2.79326 53.661 3.06033 53.6028C3.32739 53.5446 3.58022 53.4339 3.80412 53.2771C4.02802 53.1203 4.21852 52.9206 4.36456 52.6896C6.23728 49.8092 8.79985 47.4424 11.8196 45.8038C14.8393 44.1653 18.2204 43.3071 21.656 43.3071C25.0916 43.3071 28.4728 44.1653 31.4925 45.8038C34.5122 47.4424 37.0748 49.8092 38.9475 52.6896C39.25 53.1392 39.7173 53.4517 40.2484 53.5595C40.7795 53.6673 41.3316 53.5618 41.7855 53.2657C42.2394 52.9697 42.5585 52.5069 42.6739 51.9774C42.7893 51.448 42.6917 50.8944 42.4022 50.4363C39.499 45.9674 35.2286 42.5571 30.2283 40.7142ZM10.3123 27.8442C10.3123 25.6006 10.9776 23.4074 12.2241 21.5419C13.4705 19.6764 15.2422 18.2225 17.315 17.3639C19.3878 16.5053 21.6686 16.2807 23.8691 16.7184C26.0696 17.1561 28.0908 18.2365 29.6773 19.8229C31.2637 21.4094 32.3441 23.4306 32.7818 25.6311C33.2195 27.8316 32.9949 30.1124 32.1363 32.1852C31.2777 34.258 29.8238 36.0297 27.9583 37.2761C26.0928 38.5226 23.8996 39.1879 21.656 39.1879C18.6485 39.1845 15.7652 37.9883 13.6386 35.8616C11.5119 33.735 10.3157 30.8517 10.3123 27.8442ZM64.489 53.2903C64.0309 53.589 63.4728 53.6936 62.9376 53.5809C62.4024 53.4683 61.9339 53.1476 61.635 52.6896C59.7646 49.8075 57.2023 47.4396 54.182 45.8018C51.1617 44.1639 47.7794 43.3083 44.3435 43.3129C43.7965 43.3129 43.2719 43.0956 42.8851 42.7088C42.4983 42.322 42.281 41.7974 42.281 41.2504C42.281 40.7034 42.4983 40.1788 42.8851 39.792C43.2719 39.4052 43.7965 39.1879 44.3435 39.1879C46.0141 39.1863 47.6637 38.8158 49.1744 38.1028C50.6852 37.3898 52.0198 36.352 53.0829 35.0634C54.1461 33.7748 54.9115 32.2673 55.3245 30.6486C55.7375 29.0299 55.7879 27.34 55.472 25.6995C55.1562 24.0591 54.482 22.5087 53.4975 21.1591C52.513 19.8094 51.2426 18.6939 49.777 17.8922C48.3114 17.0904 46.6868 16.6223 45.0193 16.5212C43.3518 16.4201 41.6826 16.6886 40.1309 17.3074C39.8779 17.4167 39.6055 17.4743 39.3299 17.4766C39.0543 17.4789 38.781 17.426 38.5262 17.3209C38.2714 17.2159 38.0402 17.0608 37.8464 16.8648C37.6525 16.6689 37.4999 16.4361 37.3975 16.1802C37.2951 15.9243 37.2451 15.6504 37.2504 15.3749C37.2556 15.0993 37.3161 14.8275 37.4281 14.5757C37.5402 14.3239 37.7016 14.0971 37.9027 13.9087C38.1039 13.7203 38.3409 13.5741 38.5995 13.4789C42.1508 12.0626 46.1007 12.0116 49.6873 13.3358C53.274 14.66 56.2431 17.2655 58.022 20.6497C59.801 24.0339 60.2636 27.957 59.3206 31.6622C58.3777 35.3673 56.0961 38.592 52.9158 40.7142C57.9161 42.5571 62.1865 45.9674 65.0897 50.4363C65.3885 50.8944 65.493 51.4525 65.3804 51.9877C65.2677 52.5229 64.9471 52.9914 64.489 53.2903Z" fill="#343330"/>
          </svg>
        </div>
        <div class="flow-content">
          <h3 class="flow-heading">面接</h3>
          <p class="flow-caption">担当者と日程を調整のうえ、面接を実施いたします。<br />ご希望やご不安な点もお気軽にご相談ください。</p>
        </div>
      </div>

      <div class="flow-step">
        <div class="flow-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66" fill="none">
            <path d="M39.1875 22.6875C40.8192 22.6875 42.4143 22.2036 43.771 21.2971C45.1277 20.3906 46.1851 19.1021 46.8095 17.5946C47.434 16.0872 47.5973 14.4284 47.279 12.828C46.9607 11.2277 46.175 9.75766 45.0212 8.60387C43.8674 7.45009 42.3974 6.66435 40.797 6.34603C39.1967 6.0277 37.5379 6.19107 36.0304 6.8155C34.5229 7.43992 33.2344 8.49734 32.3279 9.85405C31.4214 11.2108 30.9375 12.8058 30.9375 14.4375C30.9375 16.6255 31.8067 18.724 33.3539 20.2711C34.9011 21.8183 36.9995 22.6875 39.1875 22.6875ZM39.1875 10.3125C40.0034 10.3125 40.8009 10.5544 41.4793 11.0077C42.1576 11.461 42.6863 12.1052 42.9985 12.8589C43.3108 13.6127 43.3924 14.4421 43.2333 15.2423C43.0741 16.0424 42.6812 16.7774 42.1044 17.3543C41.5275 17.9312 40.7925 18.3241 39.9923 18.4832C39.1921 18.6424 38.3627 18.5607 37.609 18.2485C36.8552 17.9363 36.211 17.4076 35.7577 16.7292C35.3045 16.0509 35.0625 15.2534 35.0625 14.4375C35.0625 13.3435 35.4971 12.2943 36.2707 11.5207C37.0443 10.7471 38.0935 10.3125 39.1875 10.3125ZM56.5409 36.2691C56.3836 36.3413 54.6099 37.1147 51.4697 37.1147C47.899 37.1147 42.5623 36.1144 35.8231 31.9584C34.7974 34.8703 33.4656 37.6652 31.8502 40.2961C34.7517 41.1893 37.481 42.5675 39.9223 44.3721C44.8388 48.1207 47.4375 53.4574 47.4375 59.8125C47.4375 60.3595 47.2202 60.8841 46.8335 61.2709C46.4467 61.6577 45.9221 61.875 45.375 61.875C44.828 61.875 44.3034 61.6577 43.9166 61.2709C43.5298 60.8841 43.3125 60.3595 43.3125 59.8125C43.3125 49.0617 34.369 45.192 29.3546 43.8668C29.2128 44.0473 29.0658 44.2303 28.9189 44.4082C23.8554 50.5441 17.5107 53.7359 10.4518 53.7359C9.64774 53.7396 8.84406 53.7026 8.04379 53.625C7.49678 53.5703 6.99391 53.3005 6.64579 52.8751C6.29768 52.4496 6.13284 51.9033 6.18754 51.3563C6.24224 50.8092 6.512 50.3064 6.93747 49.9583C7.36295 49.6101 7.90928 49.4453 8.45629 49.5C15.1388 50.1652 20.9525 47.569 25.7297 41.7656C28.9498 37.8623 31.1438 33.1006 32.2395 29.6484C22.2054 23.809 15.7962 28.7796 15.7266 28.8338C15.5165 29.0132 15.2725 29.1485 15.0091 29.2318C14.7457 29.3151 14.4682 29.3446 14.1932 29.3186C13.9181 29.2926 13.6511 29.2116 13.408 29.0804C13.1648 28.9493 12.9505 28.7706 12.7777 28.555C12.605 28.3394 12.4773 28.0913 12.4023 27.8254C12.3273 27.5595 12.3064 27.2812 12.341 27.0071C12.3756 26.733 12.4649 26.4687 12.6036 26.2297C12.7423 25.9908 12.9276 25.7822 13.1485 25.6163C13.5352 25.3069 22.7443 18.1397 36.2253 27.3101C47.948 35.2791 54.7697 32.5463 54.8342 32.5153C55.0813 32.3986 55.3491 32.3322 55.6221 32.3199C55.8951 32.3076 56.1678 32.3497 56.4244 32.4437C56.681 32.5377 56.9163 32.6817 57.1168 32.8674C57.3172 33.0532 57.4787 33.2769 57.592 33.5256C57.7052 33.7743 57.7679 34.043 57.7764 34.3161C57.7849 34.5893 57.7391 34.8614 57.6415 35.1166C57.544 35.3719 57.3967 35.6052 57.2082 35.803C57.0197 36.0009 56.7937 36.1593 56.5435 36.2691H56.5409Z" fill="#343330"/>
          </svg>
        </div>
        <div class="flow-content">
          <h3 class="flow-heading">トライアル勤務</h3>
          <p class="flow-caption">トライアル勤務は半日程度を予定しております。<br />遠方により調整が難しい際はご相談ください。</p>
        </div>
      </div>

      <div class="flow-step">
        <div class="flow-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66" fill="none">
            <path d="M65.5615 27.8205L58.9822 14.6566C58.7398 14.1721 58.4043 13.7401 57.995 13.3852C57.5856 13.0304 57.1104 12.7596 56.5964 12.5884C56.0824 12.4173 55.5397 12.349 54.9993 12.3876C54.4589 12.4262 53.9314 12.5708 53.4469 12.8133L47.0351 16.0179L33.5283 12.4446C33.1818 12.3544 32.8179 12.3544 32.4713 12.4446L18.9645 16.0179L12.5527 12.8133C12.0682 12.5708 11.5407 12.4262 11.0004 12.3876C10.46 12.349 9.91729 12.4173 9.40328 12.5884C8.88928 12.7596 8.41402 13.0304 8.00467 13.3852C7.59531 13.7401 7.25986 14.1721 7.01748 14.6566L0.438107 27.818C0.19565 28.3024 0.0510027 28.8299 0.0124249 29.3703C-0.0261529 29.9107 0.0420947 30.4534 0.21327 30.9674C0.384446 31.4814 0.655197 31.9566 1.01006 32.366C1.36492 32.7754 1.79695 33.1108 2.28147 33.3532L9.2424 36.8362L23.5484 47.0533C23.7592 47.2033 23.9962 47.3126 24.2471 47.3756L40.7471 51.5006C41.0926 51.5873 41.4547 51.5829 41.7981 51.4881C42.1415 51.3932 42.4544 51.211 42.7065 50.9592L56.9042 36.7589L63.7156 33.3532C64.6935 32.8637 65.4369 32.0059 65.7826 30.9685C66.1283 29.931 66.0478 28.7987 65.559 27.8205H65.5615ZM51.4102 36.4237L42.5389 29.3184C42.1415 29.0001 41.6404 28.8401 41.132 28.8692C40.6237 28.8982 40.1441 29.1142 39.7854 29.4757C35.1938 34.1008 30.0762 33.5156 26.8123 31.4531L37.9601 20.625H46.1612L53.1762 34.6526L51.4102 36.4237ZM10.7068 16.5L15.9842 19.1348L9.39194 32.2962L4.12483 29.6639L10.7068 16.5ZM40.613 47.2132L25.6315 43.4697L12.9472 34.4102L20.1659 19.9727L32.9998 16.5722L35.5264 17.2399L23.9248 28.5012L23.9042 28.5244C23.4675 28.9611 23.1344 29.4903 22.9295 30.0729C22.7247 30.6556 22.6533 31.2768 22.7206 31.8907C22.7879 32.5047 22.9922 33.0956 23.3184 33.6201C23.6447 34.1445 24.0845 34.589 24.6055 34.9207C29.9061 38.3058 36.3024 37.7566 41.3401 33.6316L48.4686 39.3576L40.613 47.2132ZM56.5974 32.2936L50.018 19.1451L55.2929 16.5L61.8748 29.6639L56.5974 32.2936ZM33.9744 56.1851C33.8629 56.6308 33.6058 57.0266 33.2439 57.3097C32.8819 57.5927 32.4358 57.7468 31.9763 57.7474C31.8068 57.7472 31.638 57.7264 31.4736 57.6855L20.7305 54.9991C20.4793 54.9371 20.2421 54.8278 20.0319 54.6769L13.2385 49.8248C12.8208 49.4969 12.5457 49.0204 12.4705 48.4947C12.3953 47.969 12.5258 47.4345 12.8347 47.0026C13.1437 46.5707 13.6074 46.2746 14.1293 46.176C14.6511 46.0774 15.1909 46.1839 15.6362 46.4733L22.1098 51.0984L32.4842 53.6869C33.0148 53.8196 33.4709 54.1576 33.7523 54.6266C34.0336 55.0955 34.1172 55.657 33.9847 56.1876L33.9744 56.1851Z" fill="#343330"/>
          </svg>
        </div>
        <div class="flow-content">
          <h3 class="flow-heading">内定</h3>
          <p class="flow-caption">面接での選考を合格された方に、内定のご連絡をいたします。<br />内定がでましたら、就業日を調整させていただき、<br />就業開始となります。</p>
        </div>
      </div>
    </div>

    <EntryButton />
  </div>
</section>
