---
// Footer コンポーネント - 全ページ共通のフッター
---

<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">
      <a href="/">
        <img src="/img/TIAM_LOGO_recruit.png" alt="TIAM CLINIC">
      </a>
    </div>

    <div class="footer-nav">
      <div class="footer-column">
        <h4>ページトップ</h4>
        <ul>
          <li><a href="/">-企業理念</a></li>
          <li><a href="/Reasons">-選ばれる理由</a></li>
          <li><a href="/Doctor-interview">-スタッフインタビュー</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>募集職種</h4>
        <ul>
          <li><a href="/Dr">-医師</a></li>
          <li><a href="/Nurse">-看護師</a></li>
          <li><a href="/CS">-受付/カウンセラー</a></li>
          <li><a href="/pr">-SNS広報</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>クリニック情報</h4>
        <ul>
          <li><a href="/faq">-Q&A</a></li>
          <li><a href="https://www.instagram.com/tiam_ginza/#">-Instagram</a></li>
          <li><a href="https://www.youtube.com/feed/subscriptions/UCfY_QbxJevJie_RkbnRnrGA">-Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p class="copyright">Copyright© TIAM CLINIC all rights reserved</p>
    <p class="policy"><a href="https://tiamclinic.com/">オフィシャルサイト</a></p>
  </div>
</footer>
